

@{
    ViewData["Title"] = "Home Page";
}
@{
    var latest = ViewBag.Latest as List<EcommerceWeb.Models.Product>;
    var cheapest = ViewBag.Cheapest as List<EcommerceWeb.Models.Product>;
}


<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo1.png" alt=""></a>
        </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <span><i class="fa fa-user"></i> Xin chào, @User.Identity.Name</span>
                <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline">
                    <button type="submit" class="btn btn-link">Đăng xuất</button>
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập</a>
                <a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Đăng ký</a>
            }

        </div>
    </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Giá không rẻ nhất thị trường</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Mainboard</a></li>
                            <li><a href="#">CPU</a></li>
                            <li><a href="#">VGA</a></li>
                            <li><a href="#">RAM</a></li>
                            <li><a href="#">PSU</a></li>
                            <li><a href="#">PC lắp sẵn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0987654321</h5>
                                <span>Hỗ trợ tư vấn từ 8h - 23h mỗi ngày</span>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="Product" asp-action="Index">
                        <div class="hero__item">
                            <img src="~/img/hero/sliderbanner1.png" alt="Banner" class="img-fluid w-100" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- Hero Section End -->

<!-- Phần Category dưới cái ảnh lớn -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">

                    <a href="@Url.Action("Index", "Product", new { category = "Mainboard" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/Mainboard/MainboardB760MAYWASUS.jpg")')">
                        <h5>Mainboard</h5>
                    </a>

                    <a href="@Url.Action("Index", "Product", new { category = "CPU" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/CPU/CPUi79700K.jpg")')">
                        <h5>CPU</h5>
                    </a>

                    <a href="@Url.Action("Index", "Product", new { category = "VGA" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/VGA/VGARTX4060Zotac.jpg")')">
                        <h5>VGA (Card đồ họa)</h5>
                    </a>

                    <a href="@Url.Action("Index", "Product", new { category = "RAM" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/RAM/RAM16GBD4Corsair.jpg")')">
                        <h5>RAM</h5>
                    </a>

                    <a href="@Url.Action("Index", "Product", new { category = "PSU" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/PSU/PSU750WAIGO.jpg")')">
                        <h5>Nguồn (PSU)</h5>
                    </a>

                    <a href="@Url.Action("Index", "Product", new { category = "PC" })"
                       class="categories__item"
                       style="background-image:url('@Url.Content("~/img/product/BuildPC/BuildPCi714700F.jpg")')">
                        <h5>PC Lắp sẵn</h5>
                    </a>

                </div>
            </div>
        </div>
    </section>



<!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <li data-filter=".@category.Name">@category.Name</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                @foreach (var item in ViewBag.Featured)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix @item.Category">
                        <div class="featured__item">
                            <div class="featured__item__pic">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="@item.ImageUrl" alt="@item.Name" />
                                </a>
                                <ul class="featured__item__pic__hover">
                                    <li><a asp-controller="Wishlist" asp-action="Add" asp-route-id="@item.Id">
                                        <i class="fa fa-heart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Order" asp-action="Add" asp-route-id="@item.Id">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </h6>
                                <h5>@string.Format("{0:N0} VND", item.Price)</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
<!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/img/banner/bannertop1.jpg" alt="Banner 1" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/img/banner/bannertop2.jpg" alt="Banner 2" />
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Banner End -->
    
    <!--Slider của sp mới nhất và sp rẻ nhất trong từng danh mục-->
    <section class="product-pair spad">
        <div class="container">
            <div class="row">
                <!-- Latest Products -->
                <div class="col-lg-6 col-md-12">
                    @{
                        ViewData["SectionTitle"] = "Các sản phẩm mới nhất";
                    }
                    @await Html.PartialAsync("_ProductSlider", ViewBag.Latest as List<EcommerceWeb.Models.Product>)
                </div>

                <!-- Cheapest Products -->
                <div class="col-lg-6 col-md-12">
                    @{
                        ViewData["SectionTitle"] = "Sản phẩm rẻ nhất từng loại";
                    }
                    @await Html.PartialAsync("_ProductSlider", ViewBag.Cheapest as List<EcommerceWeb.Models.Product>)
                </div>
            </div>
        </div>
    </section>



    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>