@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lý đơn hàng";
}

@model List<EcommerceWeb.Models.Order>

<h2>Quản lý đơn hàng</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.FullName</td>
                <td>@order.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@string.Format("{0:N0}", order.Total) VND</td>
                <td>@order.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.Id">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
