<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - EcommerceWeb</title>
        <!-- Ogani CSS -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/elegant-icons.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/css/nice-select.css" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="~/css/slicknav.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <!--CSS bổ sung-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <!-- Header Section Begin -->
        @using EcommerceWeb.Helpers
        @using EcommerceWeb.Models
        @{
            var cart = Context.Session.GetObjectFromJson<List<CartItem>>("Cart") ?? new List<CartItem>();
            var cartCount = cart.Count; // số dòng sản phẩm trong giỏ

            var wishlist = Context.Session.GetObjectFromJson<List<int>>("Wishlist") ?? new List<int>();
            var wishlistCount = wishlist.Count; // số sản phẩm trong wishlist
        }
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> hello@khanhdeptrai.com</li>
                                    <li>Giá không rẻ nhất thị trường</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__right d-flex justify-content-end align-items-center gap-3">
                                <div class="header__top__right__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="header__top__right__auth">
                                    @if (User.Identity?.IsAuthenticated ?? false)
                                    {
                                        <span><i class="fa fa-user"></i> Xin chào, @User.Identity.Name</span>
                                        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline">
                                            <button type="submit" class="btn btn-link">Đăng xuất</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Login"><i class="fa fa-user"></i> Đăng nhập</a>
                                        <a asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Đăng ký</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a asp-controller="Home" asp-action="Index"><img src="~/img/logo1.png" alt=""></a>
                        </div>
                    </div>
                    <nav class="header__menu">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Product" asp-action="Index">Shop</a></li>
                            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-controller="Order" asp-action="MyOrders">MyOrders</a></li>
                        </ul>
                    </nav>

                    <!-- Cart + Wishlist -->
                    <div class="header__cart d-flex justify-content-end align-items-center gap-4">
                        <ul class="d-flex gap-4 mb-0">
                            <!-- Wishlist -->
                            <li class="header__cart__item">
                                <a asp-controller="Wishlist" asp-action="Index" class="header__cart__link">
                                    <i class="fa fa-heart"></i>
                                    <span class="cart-count">@wishlistCount</span>
                                </a>
                            </li>

                            <!-- Cart -->
                            <li class="header__cart__item">
                                <a asp-controller="Order" asp-action="Cart" class="header__cart__link">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="cart-count">@cartCount</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <!-- Header Section End -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
        <!-- JS -->
        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/jquery.slicknav.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/mixitup.min.js"></script>
        <script src="~/js/main.js"></script>
        <!-- Footer Section Begin -->
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo1.png" alt=""></a>
                            </div>
                            <ul>
                                <li>Address: 27/60 Dien Bien Phu</li>
                                <li>Phone: 0987654321</li>
                                <li>Email: hello@khanhdeptrai.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            <h6>Useful Links</h6>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">About Our Shop</a></li>
                                <li><a href="#">Secure Shopping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Innovation</a></li>
                                <li><a href="#">Testimonials</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
    </body>
</html>